<script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
<link href='//unpkg.com/@waline/client@v2/dist/waline.css' rel='stylesheet' />

<style>
	div#waline{
		width:<%=site.customConfig['vPercentWidth']%>%;
		max-width: <%=site.customConfig['vMaxWidth']%>px;
		padding: <%=site.customConfig['vPadding']%>
	}
</style>

<% if(site.customConfig['waline']) { %>
	<div id="waline"></div>
<% } %>
<script>
	Waline.init({
		el: '#waline',
		login: 'disable',
		serverURL: '<%=site.customConfig['serverURL']%>',
		pageSize: <%=site.customConfig['pageSize']%>,
		recordIp: <%=site.customConfig['recordIp']%>,
		visitor: <%=site.customConfig['visitor']%>,
	});
</script>
